base64.o main.o sha1.o websocket.o
websocket
test
/wsocket
*.o
/ucwebsocket.suo
/ucwebsocket.vcxproj.filters
/ucwebsocket.vcxproj.user
/Debug/
*.out

/client/bin/
/client/obj/
/client/.vscode/
/client/project.lock.json
*.pro.user
